@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  background-color: #242424;

  --navbar-color: #ffd633;
  --footer-color: #28aa49;
  --box-one-color: #dbfb15;
  --box-two-color: #2bf2fe;
  --box-three-color: #f47fff;
  --box-four-color: #ff8a8a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
